.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #008CBA;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #005f78;
}

.al-final {
  text-align: center;
  background: #111;
  color: white;
  padding: 10px 0;
}

body{
    padding: 10px;
}